<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/css/Filter/filterMovie.css" asp-append-version="true" />
<script src="~/js/filterMovies.js"></script>
<title>Filter Movie</title>
<h2>Фільтри</h2>
<div class="breadcrumb">
    <a asp-controller="Home" asp-action="Index">Головна</a> -> <a asp-controller="Home" asp-action="FilterMovie">Фільми</a>
</div>

<h3>Оберіть, що вам до вподоби</h3>
<div class="filter-container">
    <div class="filter-group">
        <input type="checkbox" id="genre-toggle" class="toggle">
        <label for="genre-toggle" class="button">Жанри</label>
        <div id="genre" class="sub-buttons">
            <div class="sub-button">Романтика</div>
            <div class="sub-button">Комедії</div>
            <div class="sub-button">Фантастика</div>
            <div class="sub-button">Детектив</div>
            <div class="sub-button">Кримінал</div>
        </div>
    </div>
    <div class="filter-group">
        <input type="checkbox" id="country-toggle" class="toggle">
        <label for="country-toggle" class="button">Країни</label>
        <div id="country" class="sub-buttons">
            <div class="sub-button">США</div>
            <div class="sub-button">Франція</div>
            <div class="sub-button">Канада</div>
            <div class="sub-button">Корея</div>
            <div class="sub-button">Україна</div>
        </div>
    </div>
    <div class="filter-group">
        <input type="checkbox" id="year-toggle" class="toggle">
        <label for="year-toggle" class="button">Роки</label>
        <div id="year" class="sub-buttons">
            <div class="sub-button">1990 - 2000</div>
            <div class="sub-button">2000-2010</div>
            <div class="sub-button">2010-2015</div>
            <div class="sub-button">2015-2020</div>
            <div class="sub-button">2020-2024</div>
        </div>
    </div>
</div>

<div class="sect">
    <h2 class="main-title">
        <a href="#" class="sect-header fx-row fx-middle section-title">Фільми</a>
    </h2>
    <div class="sect-content" id="dle-content">
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class="lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class="lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
    </div>
</div>
<div class="pagination">
    <button class="pagination-arrow" id="prev-page">&lt;</button>
    <div class="page-numbers">
        <button class="page-number">1</button>
        <button class="page-number">2</button>
        <button class="page-number">3</button>
        <button class="page-number">4</button>
        <button class="page-number">5</button>
        <button class="page-number">6</button>
    </div>
    <button class="pagination-arrow" id="next-page">&gt;</button>
</div>