@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>@ViewData["Title"]</title>
    <style>
        html {
            background-image: url(images/background1.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
        }
        .center
        {
          position: absolute;
          margin: auto;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 50%;
          height: 50%;
          background-color: #ccc;
          border-radius: 12px;
        }
    </style>
</head>

<div class="center" style="background-color: #09161C">
    
</div>