<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/css/Home/index.css" asp-append-version="true" />
<title>Home Page</title>

<div class="sect">
    <h2 class="main-title">
        <a href="#" class="sect-header fx-row fx-middle section-title">Фільми</a>
    </h2>
    <div class="sect-content" id="dle-content">
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class="lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class="lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
    </div>
</div>
<div class="sect">
    <h2 class="main-title">
        <a href="#" class="sect-header fx-row fx-middle section-title">Серіали</a>
    </h2>
    <div class="sect-content" id="dle-content">
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
    </div>
</div>
<div class="sect">
    <h2 class="main-title">
        <a href="#" class="sect-header fx-row fx-middle section-title">Мультфільми</a>
    </h2>
    <div class="sect-content" id="dle-content">
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
    </div>
</div>
<div class="sect">
    <h2 class="main-title">
        <a href="#" class="sect-header fx-row fx-middle section-title">Аніме</a>
    </h2>
    <div class="sect-content" id="dle-content">
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
        <div class="short-item width-16">
            <div class="short-cols fx-row">
                <a class="short-img img-fit" href="#">
                    <img class=" lazyloaded" data-src="https://uaserials.pro/posters/7065.jpg" src="https://uaserials.pro/posters/7065.jpg" alt="">
                </a>
                <div class="th-title truncate" align="center">Безсоромні</div>
            </div>
        </div>
    </div>
</div>