@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<link rel="stylesheet" href="~/css/AccessDenied/access.css" asp-append-version="true" />

<div class="page-content">
    <div class="container">
        <div class="centered">
            <h1>Access denied</h1>
            <p>
                Отакої, у вас не має доступу до цієї сторінки
                                      :(
            </p>
        </div>
    </div>
</div>