@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
        body {
            background-image: url(/images/background1.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
        }
        
        h2 {
            color: #ffffff;
            font-family: Inter,sans-serif;
        }
        
        p{
            color: #ffffff;
            font-family: Inter,sans-serif;
        }
        
        .link {
        color: #2E859E;
        }
        
        .login-button {
            color: #FFFFFF;
            background-color: #2E859E;
            border: 1px solid rgba(255, 255, 255, 0.25);
            border-radius: 6px;
            cursor: pointer;
        }
        .login-button:focus {
                  color: #FFFFFF;
                  background-color: #2E859E;
                  border-color: rgba(255, 255, 255, 0.25);
                  outline: 0;
                  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
                }
        .login-button:hover {
                          color: #FFFFFF;
                          background-color: #2E859E;
                          border-color: rgba(255, 255, 255, 0.25);
                          outline: 0;
                          box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
                        }
        
        .form-floating > label {
          color: #FFFFFF;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          padding: 1rem 0.75rem;
          pointer-events: none;
          border: 1px solid transparent;
          transform-origin: 0 0;
          transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
        }
        .form-control {
          display: block;
          width: 100%;
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #FFFFFF;
          background-color: #132933;
          background-clip: padding-box;
          border: 1px solid rgba(255, 255, 255, 0.25);
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border-radius: 0.25rem;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        .form-control:focus {
          color: #FFFFFF;
          background-color: #132933;
          border-color: rgba(255, 255, 255, 0.25);
          outline: 0;
          box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
        }
        
        .register-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        .register-container{
            background-color: #09161C;
            padding: 3rem;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
            margin-bottom: 2rem;
            border-radius: 12px;
        }
        .registrationForm {
        
        }
    </style>

<div class="container-fluid pt-5 mt-0">
    <div class="row">
        <div class="col-12">
            <div class="col-12 h-100">
                <div class="register-wrapper">
                    <div class="register-container">
                        <div class="registrationForm">
                            <section>
                                <form id="account" method="post">
                                    <h2>Увійдіть до свого акаунту</h2>
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                        <label asp-for="Input.Email" class="form-label">Ваш E-Mail</label>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                        <label asp-for="Input.Password" class="form-label">Пароль</label>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="d-flex flex-row-reverse">
                                        <div class="p-2">
                                            <div class="checkbox mb-3">
                                                <label asp-for="Input.RememberMe" class="form-label">
                                                    <p><input class="form-check-input" asp-for="Input.RememberMe"/>
                                                    @Html.DisplayNameFor(m => m.Input.RememberMe)</p>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row-reverse">
                                        <div class="p-2">
                                            <button id="login-submit" type="submit" class="btn-lg login-button">Увійти</button>
                                        </div>
                                        <div class="p-2">
                                            <a class="link" id="forgot-password" asp-page="./ForgotPassword">Забули пароль?</a>
                                        </div>
                                        <div class="p-2">
                                            <a class="link" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Реєстрація</a>
                                        </div>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}