html {
  font-size: 14px;
  background: #09161C;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: white;
  background: #09161C;
}

@media screen and (max-width: 1220px) {
  .wrap {
    padding: 100px 0 40px;
    overflow: hidden;
  }
}
@media screen and (max-width: 950px) {
  .wrap-center {
    max-width: 768px;
  }
}

@media screen and (max-width: 1220px) {
  .wrap-center {
    max-width: 1000px;
  }
}

@media screen and (max-width: 760px) {
  .carou-sect, .cols, .footer, .header, .wrap-center {
    border-radius: 0;
  }
}

@media screen and (max-width: 1220px) {
  .cols {
    padding-top: 20px;
  }
}

@media screen and (max-width: 1220px) {
  .carou-sect, .cols, .footer, .header {
    padding-left: 20px;
    padding-right: 20px;
    background-image: none;
  }
}

.wrap {
  min-width: 320px;
  padding: 100px 0 40px;
}

.mylists-switch, .search-wrap, .wrap, .wrap-center {
  position: relative;
}

.wrap-main {
  background: #09161C;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
}

.wrap-center {
  max-width: 1100px;
  margin: 0 auto;
  z-index: 20;
}

.mylists-switch, .search-wrap, .wrap, .wrap-center {
  position: relative;
}

.cols {
  padding: 20px;
}

#dle-content, .fx-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
}

.fx-1 {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 50px;
}

.fx-1, img {
  max-width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #132933;
  border-radius: 20px 20px 0 0;
}

.fx-middle {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.comments_subscribe, .js .tabs-b.visible, .uas-collection a, article, aside, figure, figure img, footer, header, hgroup, main, nav, section {
  display: block;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  color: #E50914;
}

.logo a {
  font-size: 40px;
  font-weight: bold;
  color: #E50914;
}

.logo a:hover {
  font-size: 40px;
  font-weight: bold;
  color: #bc0209;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 300px;
}

.search-bar input {
  background-color: #09161C;
  color: white;
  width: 100%;
  padding: 5px 35px 5px 10px;
  border-radius: 12px;
  border: 1px solid #ccc;
  outline: none;
}

.search-bar button {
  position: absolute;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar button img {
  width: 20px;
  height: 20px;
}

.notification {
  display: inline-block;
  transition: all 0.3s ease;
}

.notification img {
  display: block;
  transition: all 0.3s ease;
  min-width: 20px;
  min-height: 20px;
  max-width: 40px;
  max-height: 40px;
}

.notification:hover img {
  filter: brightness(0.8);
  border: 1px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
}

.profile {
  display: inline-block;
  transition: all 0.3s ease;
}

.profile img {
  display: block;
  transition: all 0.3s ease;
  min-width: 20px;
  min-height: 20px;
  max-width: 40px;
  max-height: 40px;
}

.profile:hover img {
  filter: brightness(0.8);
  border: 1px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
}

.carou-sect {
  padding: 5px 0;
  background-color: #10222A;
}

.menunav_top {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.left-nav,
.center-nav,
.right-nav {
  display: flex;
}

.left-nav {
  flex: 1;
  justify-content: flex-start;
}

.center-nav {
  flex: 1;
  justify-content: center;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #2E859E;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #2E859E;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-link:hover, .nav-link:focus {
  color: #fff;
}

.bookmark-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.bookmark-link:hover, .bookmark-link:focus {
  color: #2E859E;
  text-decoration: none;
}

.bookmark-link-active {
  color: #2E859E;
  text-decoration: underline;
}

.right-nav {
  flex: 1;
  justify-content: flex-end;
}

.menunav_top li {
  margin: 0 10px;
}

.menunav_top a {
  text-decoration: none;
}

#lastseen ul li, .mylists-switch, .mylists-tabs, ol, ul, ul#mylists-menu {
  list-style: none;
}

.menunav_top>li.last {
  float: right;
  left: -10px;
}

.menunav_top>li.start {
  float: left;
  left: -10px;
}
.menunav_top>li {
  position: relative;
  width: auto;
}
#lastseen ul li, .menunav_top>li, .truncate, a.section-title {
  display: inline-block;
}

a.section-title {
  color: #2E859E;
  transition: .2s;
  text-transform: uppercase;
  margin-left: 5px;
}

a.section-title:hover {
  color: #FFFFFF;
  transition: .2s;
  text-transform: uppercase;
  margin-left: 5px;
}

.sect {
  margin-bottom: 5px;
}

.main-title {
  font-size: 19px;
  margin-left: 20px;
}

.sect-title, h1, h2, h3, h4, h5 {
  font-weight: 600;
  font-size: 24px;
}

.short-item.width-16 {
  width: 16.4%;
  min-width: 150px;
}
.short-item {
  margin-bottom: 20px;
  width: 25%;
  padding: 0 0 0 20px;
}

.fplayer, .short-agerating, .short-item, .short-list, .short-list>li, .short-title {
  position: relative;
}

.short-item.width-16 .short-img {
  height: auto;
}
.anim, .btn, .footer a, .header-btn, .popular-item-img:before, .short-img, .short-item a, .side-nav a, .sidebar a, button {
  transition: .3s;
}
.short-img {
  height: 245px;
  width: 100%;
  margin-bottom: 10px;
  display: block;
  border-radius: 10px;
}

.short-btn, .short-img {
  box-shadow: 0 4px 10px rgba(0, 0, 0, .15);
}
.img-box, .img-fit, .img-resp, .img-resp-vert, .img-wide {
  overflow: hidden;
  position: relative;
}
#lastseen ul>li>a, #newep a.text-block, a, a:focus, a:hover, ul#mylists-menu>li {
  text-decoration: none;
}
.theme-switcher, a, button, input, select, textarea {
  -webkit-tap-highlight-color: transparent;
}

.truncate {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}
#lastseen ul li, .menunav_top>li, .truncate, a.section-title {
  display: inline-block;
}

.comm-rate3, .fshare, .truncate {
  white-space: nowrap;
}
.nowrap, .side-panel .side-nav a, .truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.form-floating > label {
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #FFFFFF;
  background-color: #132933;
  background-clip: padding-box;
  border: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  color: #FFFFFF;
  background-color: #132933;
  border-color: rgba(255, 255, 255, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-control:disabled, .form-control[readonly] {
  background-color: #132933;
  opacity: 1;
}
.form-control::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: #FFFFFF;
  background-color: #132933;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #132933;
}
.form-control::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: #FFFFFF;
  background-color: #132933;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.link{
  color: #FFFFFF;
}
.link:disabled{
  color: #FFFFFF;
  text-underline: #FFFFFF;
}
.link:hover{
  color: #2E859E;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 1rem;
  list-style: none;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}
.breadcrumb-item a {
  color: #2E859E;
}
.breadcrumb-item a:hover{
  color: #FFFFFF;
}
.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #2E859E;
  content: var(--bs-breadcrumb-divider, "->") /* rtl: var(--bs-breadcrumb-divider, "/") */;
}
.breadcrumb-item.active {
  color: #FFFFFF;
  text-decoration: underline;
}

.btn-primary {
  color: #fff;
  background-color: #2E859E;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.btn-primary:hover {
  color: #fff;
  background-color: #2E859E;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #2E859E;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #2E859E;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-primary:disabled, .btn-primary.disabled {
  color: #fff;
  background-color: #2E859E;
  border: 1px solid rgba(255, 255, 255, 0.25);
}



.btn-dropdown {
  color: #fff;
  background-color: #132933;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.btn-dropdown:hover {
  color: #fff;
  background-color: #132933;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.btn-check:focus + .btn-dropdown, .btn-dropdown:focus {
  color: #fff;
  background-color: #132933;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-check:checked + .btn-dropdown, .btn-check:active + .btn-dropdown, .btn-dropdown:active, .btn-dropdown.active, .show > .btn-dropdown.dropdown-toggle {
  color: #fff;
  background-color: #132933;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.btn-check:checked + .btn-dropdown:focus, .btn-check:active + .btn-dropdown:focus, .btn-dropdown:active:focus, .btn-dropdown.active:focus, .show > .btn-dropdown.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-dropdown:disabled, .btn-dropdown.disabled {
  color: #fff;
  background-color: #132933;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  list-style: none;
  background-color: #10222A;
  background-clip: padding-box;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.25rem;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #FFFFFF;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: #10222A;
  border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #FFFFFF;
  background-color: #132933;
}
.dropdown-item.active, .dropdown-item:active {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #132933;
}
.dropdown-item.disabled, .dropdown-item:disabled {
  color: #adb5bd;
  pointer-events: none;
  background-color: transparent;
}
.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  margin-top: 0.125rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-arrow,
.page-number {
  background-color: #1d1c1c;
  color: #FFFFFF;
  padding: 5px 15px;
  margin: 2px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-arrow:hover,
.page-number:hover,
.page-number-active {
  background-color: #0098A7;
  color: #FFFFFF;
}