body {
    background-image: url(/images/background_anime.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
}

.container {
    margin: 20px 0;
    text-align: center;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 20px;
}

.filter-group {
    margin-bottom: 10px;
    position: relative;
}

.buttons_filter {
    display: flex;
    flex-direction: column;
}

.button, .sub-button {
    background-color: #2E859E;
    color: #FFFFFF;
    padding: 10px 30px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    min-width: 150px;
    text-align: center;
}

.button:hover, .sub-button:hover {
    background-color: #0098A7;
}

.sub-buttons {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

.toggle {
    display: none;
}

.toggle:checked + .button + .sub-buttons {
    display: flex;

}




.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-arrow,
.page-number {
    background-color: #1d1c1c;
    color: #FFFFFF;
    padding: 5px 15px;
    margin: 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.pagination-arrow:hover,
.page-number:hover {
    background-color: #0098A7;
}