<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CinematiQ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CinematiQ.styles.css" asp-append-version="true" />
</head>
<body>

<nav class="header">
    <div class="logo">CINEMATIQ</div>
    <div class="search-bar">
        <input type="text" placeholder="Пошук...">
        <button type="button">
            <img src="images/Glass.svg" alt="Search Icon">
        </button>
    </div>
   
    <div class="user-icons">
        <img src="~/images/колокол.svg" alt="Notification Icon">
        <partial name="_LoginPartial"/>
    </div> 
</nav>
<nav>
    <div class="nav-bar">
        <div class="nav-section">
            <a href="#">Головна</a>
            <a href="#">Новинки</a>
            <a asp-controller="Home" asp-action="Error404">Анонси</a>
        </div>
        <div class="nav-section">
            <a href="#">Фільми</a>
            <a href="#">Серіали</a>
            <a href="#">Мультфільми</a>
            <a href="#">Аніме</a>
        </div>
        <div class="nav-section">
            <a href="#">Закладки</a>
        </div>
    </div>
</nav>


<div>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>