<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CinematiQ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CinematiQ.styles.css" asp-append-version="true" />
</head>
<body>
<div class="wrap">
    <div class="wrap-main wrap-center">
        <header class="header fx-row fx-middle">
            <div class="logo"><a asp-controller="Films" asp-action="Index">CINEMATIQ</a></div>
            <div class="search-bar ">
                <input id="searchBar" type="text" placeholder="Пошук...">
                <button id="searchButton" type="submit">
                    <img src="/images/Glass_white.svg" alt="Search Icon">
                </button>
            </div>
            
            <div class="d-flex align-items-center">
                <div class="me-3">
                    <a class="notification position-relative" asp-area="Identity" asp-page="/Account/Login">
                        <img src="~/images/колокол.svg" alt="Notification Icon">
                        <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2">
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </a>
                </div>
                <div>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </header>
        <div class="carou-sect">
            <ul class="menunav_top">
                <div class="left-nav">
                    <li><a class="link" asp-controller="Films" asp-action="Releases">Новинки</a></li>
                    <li><a class="link" asp-controller="Films" asp-action="Announcements">Анонси</a></li>
                </div>
                <div class="center-nav">
                    <li><a class="link" asp-controller="Films" asp-action="Movies">Фільми</a></li>
                    <li><a class="link" asp-controller="Films" asp-action="Series">Серіали</a></li>
                    <li><a class="link" asp-controller="Films" asp-action="Cartoons">Мультфільми</a></li>
                    <li><a class="link" asp-controller="Films" asp-action="Anime">Аніме</a></li>
                </div>
                <div class="right-nav">
                    <li><a class="link" asp-controller="Home" asp-action="Favorite">Закладки</a></li>
                </div>
            </ul>
        </div>
        <div class="carou-sect">
            <ul class="menunav_top">
                <div class="left-nav">
                    <li><a class="link" asp-controller="Movie" asp-action="Index">Фільми</a></li>
                    <li><a class="link" asp-controller="Country" asp-action="Index">Країни</a></li>
                    <li><a class="link" asp-controller="Genre" asp-action="Index">Жанри</a></li>
                </div>
            </ul>
        </div>
        <div class="cols fx-row">
            <main role="main" class="fx-1">
                @RenderBody()
            </main>
        </div>
    </div>
</div>

<script src="~/js/navbar.js"></script>
<script src="~/js/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>